html {
    background-color: #b89081;
}
.centerer {
    display: flex;
    background-color: #b89081;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.grid-container {
    display: -ms-grid;
    display: grid;
    padding: 0px;
    grid-gap: 0px;
    margin: auto;
    margin-top: 0px;
    background-color: #f8e9da;
    border-style: solid;    
    border-color: black;
}



.showprompt {
    padding: 15px;
    text-align: center;
    border-style: solid;
    border-color: black;
}